<header class="container">
    <div class="inner">
        <div class="header-logo">
            <a href="/">
                {{#if @blog.logo}}
                    <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
                {{else}}
                    <span>{{@blog.title}}</span>
                {{/if}}
            </a>
        </div>
        <div class="header-nav">
            {{navigation}}
        </div>
    </div>
</header>